*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-model
{
    margin: 100px;
    background-color: black;
    
}
