/*@font-face {
    src: url(address/robot.ttf)
    font-family : name the font ;
} this is for local files too*/ 
 *{
    box-sizing: border-box; /*disregared border and display block eelemnet side by side with float properties */
 }

body{
    background-color: rgb(221, 215, 233) ;
    
}
#bodyfloat{
    border: 3px solid black;
    display: flow-root; /*this to contain the overflow of the float element beyound border*/
}
h1{
    margin: 125px 330px;
    text-shadow: 3px 3px 2px rgb(147, 228, 147) ,-3px -3px 2px rgb(97, 122, 206);
    color: rgb(28, 29, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* these are backups */
}
#p1{
    color: rgb(53, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    
    border-style: double;
    border-width: 3;
    border-color: rgb(0, 0, 0);
}
#p3
{ color: rgb(53, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-color: rgb(0, 0, 0);
}
.even{
     color: rgb(53, 0, 0);
    font-family: "Quantico";
    border: 3px solid black ;
    border-radius: 6px;
    
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(233, 207, 207);
    box-shadow: 5px 5px 10px rgb(104, 236, 186);
    margin: 125px 330px;
}
.decor{
    width: 100px;
    height: 100px;
    background-color: rgb(36, 30, 30);
    box-shadow: 5px 5px 10px rgb(104, 236, 186);
    margin: 5px ;
    color: antiquewhite;
    font-size: 10px;
    
}
#floatbox
{
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(100, 29, 192);
    box-shadow: 10px 10px 50px rgb(230, 50, 191) ;

}
#floatcircle{
    margin-left: auto;
    margin-right: 300px;
    margin-bottom: 20px;
    float: right;
}

#over
{
    border: 1px solid black;
    height: 70px;
    /*so the paragraph is overflowing*/
   /* overflow: visible; /*allow over flow*/
   /*overflow: hidden; similar for clip margin , with scroll we can scroll it to see the rest text*/
   overflow: scroll;
   /*display : inline , block , inline-block , hidden (takes up space) , none (no space take )*/
}


/*em is a measurement value for font size