*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 166, 78);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-model
{
    
    background-color: rgb(27, 85, 247);
    padding: 40px;
    
 

}
.padding
{
    background-color: aqua;
    padding: 40px;
    
}
.border
{
    background-color: blueviolet;
   padding: 40px;
}
.margin
{
    background-color: greenyellow;
    padding: 20px;
    padding-left: 300px;
}